<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Social Media</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .user-profile {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        .user-avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 10px;
        }

        .user-info {
            flex-grow: 1;
        }

        .user-name {
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>

<div id="app" class="container mt-5">
    <!-- 註冊和登入區塊 -->
    <div v-if="!user">
        <!-- 註冊區塊 -->
        <div class="mb-3">
            <h4>Register</h4>
            <input v-model="userName" placeholder="User Name" class="form-control mb-2"/>
            <input v-model="registerEmail" type="email" placeholder="Email" class="form-control mb-2"/>
            <input v-model="registerPassword" type="password" placeholder="Password" class="form-control mb-2"/>
            <button @click="register" class="btn btn-primary mb-2">Register</button>
        </div>

        <!-- 登入區塊 -->
        <div class="mb-3">
            <h4>Login</h4>
            <input v-model="email" placeholder="User Name or Email" class="form-control mb-2"/>
            <input v-model="password" type="password" placeholder="Password" class="form-control mb-2"/>
            <button @click="login" class="btn btn-secondary mb-2">Login</button>
        </div>
    </div>
    <div v-if="user">
        <!-- 顯示會員頭像和名稱 -->
        <div class="user-profile">
            <img :src="user.imgUrl + '?rand=' + Math.random()" alt="User Avatar" class="user-avatar img-thumbnail"
                 @click="openImageUploader(user.userId)">
            <div class="user-info">
                <p class="user-name">Welcome, {{ user.userName }}</p>
                <button @click="logout" class="btn btn-danger">Logout</button>
            </div>
        </div>
        <h1>Post List</h1>

        <!-- 發表文章的按鈕 -->
        <button @click="showTextarea = true" class="btn btn-primary mb-2">
            publish an article
        </button>

        <!-- 文章文字框和圖片上傳 -->
        <div v-if="showTextarea">
            <textarea class="form-control mb-2" placeholder="Please enter the content of the article"
                      @input="updateContent"></textarea>
            <input type="file" @change="handleImageUpload" accept="image/*" class="mb-2"/>
            <button @click="postPost" class="btn btn-success">publish</button>
        </div>

        <!-- 文章列表 -->
        <div class="card" v-for="post in posts" :key="post.postId">
            <div class="card-body">
                <h5 class="card-title">User: {{ post.user.userName }}</h5>
                <p class="card-text">Content: {{ post.content }}</p>
                <!-- 如果有圖片才顯示 -->
                <img v-if="post.image" :src="'/img/posts/' + post.postId"
                     alt="Post Image" class="img-fluid mb-2"
                     style="width: 300px; height: auto; cursor: pointer;"
                     @click="openImageModal('/img/posts/' + post.postId)">
                <p class="card-text">Created At: {{ formatDate(post.createdAt) }}</p>
                <button v-if="post.user.userId === user.userId" class="btn btn-primary btn-sm" @click="editPost(post)">
                    Edit
                </button>
                <button v-if="post.user.userId === user.userId" class="btn btn-danger btn-sm"
                        @click="deletePost(post.postId)">Delete
                </button>
                <!-- 留言按鈕 -->
                <button class="btn btn-info btn-sm" @click="addComment(post)">Add Comment</button>

                <!-- 顯示留言按鈕 -->
                <button class="btn btn-info btn-sm" @click="toggleComments(post)">Show Comments</button>
            </div>
        </div>
    </div>
</div>

<!-- ============================================== sweetAlert ============================================== -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<!-- 引入 bcryptjs 模組 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
<script src="app.js"></script>

</body>
</html>
