<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Social Media</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div id="app" class="container mt-5">
    <!-- 註冊和登入區塊 -->
    <div v-if="!user">
        <!-- 註冊區塊 -->
        <div class="mb-3">
            <h4>Register</h4>
            <input v-model="userName" placeholder="User Name" class="form-control mb-2"/>
            <input v-model="registerEmail" type="email" placeholder="Email" class="form-control mb-2"/>
            <input v-model="registerPassword" type="password" placeholder="Password" class="form-control mb-2"/>
            <button @click="register" class="btn btn-primary mb-2">Register</button>
        </div>

        <!-- 登入區塊 -->
        <div class="mb-3">
            <h4>Login</h4>
            <input v-model="email" placeholder="User Name or Email" class="form-control mb-2"/>
            <input v-model="password" type="password" placeholder="Password" class="form-control mb-2"/>
            <button @click="login" class="btn btn-secondary mb-2">Login</button>
        </div>
    </div>
    <div v-if="user">
        <!-- 發文區塊 -->
        <div>
            <textarea v-model="newPost" class="form-control mb-2" placeholder="What's on your mind?"></textarea>
            <button @click="addPost" class="btn btn-success mb-4">Post</button>
        </div>

        <!-- 所有文章區塊 -->
        <div v-for="post in posts" :key="post.id" class="mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ post.content }}</p>
                    <button class="btn btn-danger btn-sm" @click="deletePost(post.id)">Delete</button>
                </div>
            </div>
            <!-- 留言功能... -->
        </div>
    </div>
</div>

<!-- ============================================== sweetAlert ============================================== -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<!-- 引入 bcryptjs 模組 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
<script src="app.js"></script>

</body>
</html>
